<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/">
	<menu id="root-menu" label="Applications">
		<separator label="MAIN MENU"/>
		<item label="File Manager">
			<action name="Execute">
				<command>
<![CDATA[thunar]]>									
				</command>
			</action>
		</item>
		<item label="Terminal">
			<action name="Execute">
				<command>
<![CDATA[termite]]>									
				</command>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<command>
<![CDATA[firefox]]>									
				</command>
			</action>
		</item>
		<separator/>
		<menu id="0.422618629682017" label="Multimedia">
			<item label="spotify">
				<action name="Execute">
					<execute>/var/lib/snapd/snap/bin/spotify</execute>
				</action>
			</item>
		</menu>
		<menu id="0.96221586548198" label="System">
			<item label="Screenshot">
				<action name="Execute">
					<execute>scrot '%d-%m-%Y--%H:%M.png' -e 'mv $f ~/Images/screenshots/'</execute>
				</action>
			</item>
			<item label="Screenshot Focued">
				<action name="Execute">
					<execute>scrot '%d-%m-%Y--%H:%M.png' -e 'mv $f ~/Images/screenshots/' --focused</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Lock">
			<action name="Execute">
				<execute>~/scripts/lock.sh</execute>
			</action>
		</item>
		<item label="Exit Openbox">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
